<!DOCTYPE html>
<html>

    <head>
        <title>Hello World</title>
        <link href="../static/Test.css" rel="stylesheet">
    </head>

    <body>
        <h1 class="centered" id="title">Hello, World!</h1>

        <p>
            This is a paragraph of text
        </p>

    <p>Paragraphs can contain <b>bold</b> and <i>italic</i> text as well!</p>

    <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Purdue_Boilermakers_logo.svg/1200px-Purdue_Boilermakers_logo.svg.png'/>

    <h2>A List Of Texts</h2>
    <ol>
        <li>Text1</li>
        <li>Text2</li>
        <li>Text 3</li>
    </ol>

    <h2>A List Of Links</h2>
    <ul>
        <li><a href="https://google.com">Google</a></li>
        <li><a href="https://www.cs.purdue.edu">Purdue CS</a></li>
    </ul>

    <h2>Programming</h2>
    <p>I can include <code>code</code> here too!</p>

    <pre>
    <code>
        public class Hello {
            public static void main(String[]args) {
                System.out.println("Hello World");
            }
        }
    </code>
    </pre>

    <h3 class="centered">About me</h3>
    <p>Hi there I'm Ethan!</p>
    </body>

</html>